/*16px=1.25  --  Assumes 16px is a major thirds type scale*/

/*{
	font-size: 1.25em;
}*/ /* establish all elements the major thirds type scale */ 

/*Removed Global Setting Due To Formatting of List*/ 


h1, h2{
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	}
h1{
	text-transform: uppercase; 
	font-weight: 700;
	font-size: 2.441em; /*font size established using linked major thirds type scale*/
	padding-bottom: .5em; /*adds .5em padding below*/
	}
h2 {
	font-weight: 500;
	font-size: 1.953em; /*font size established using linked major thirds type scale*/
	padding-bottom:  .3em; /*adds .3em padding below*/
	}
h3 {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 1.563em; /*fost size established using major thirds type scale*/
	}
p {
	font-family: 'Quattrocento', Georgia, "Times New Roman", serif; 
	font-weight: 400; 
	line-height: 1.4em;
	}
#unique {
	color:blue;
}
	
.sentance { 
	font-size: 1.3em; 
	}
	
address {
	font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
	font-size: .8em;
	padding-bottom: .5em; /*adds .5em space below address*/
}
a {
	font-family: 'Oswald';
	font-size: 1em;
	font-weight: bold;
}
a:link {
	color:purple:;
	text-decoration: none;
}
a:visited {
	color:navy;
}
a:hover {
	color:gray;
	text-decoration: underline;
}

ol, ul {
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	font-weight: 300;
}

ol {
	list-style-position: inside;
	border: 1px solid red;
	border-radius: 15px;
	padding: 10px;
	width: fit-content; /*adds boarder around text only*/

}

ul {
	list-style-type: none;
	border: 1px dashed red;
	border-radius: 15px;
	padding: 10px;
	width: fit-content; /*adds boarder around text only*/

}