@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* Format hamburger toggle menu */
.toggle {
  text-align: right;
  font-size: 1.875rem;
  display: none;
  box-sizing: border-box;

}

/* Navigation Section */
.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

/* Hero Image and text */
.hero-image img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  color: white;
  font-size: 400%;
  text-shadow: 1px 1px 15px #000;
}

#text {
  text-align: center;
}

#adam {
  color: #ffb511;
}

/* Button formatting */
.btn-primary {
  background-color: #4f6d7a;
  border: 1px solid #4f6d7a;
}

.btn-primary:hover {
  background-color: #4f6d7a;
  border: 1px solid #4f6d7a;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

/* Developer Icons */
.fa-html5 {
  color: #E34C26;
}

.fa-css3 {
  color: #2163af;
}

.fa-js {
  color: #F2D73C;
}

.fa-code {
  color: #003366;
  font-size: 8rem;
}

.fa-node-js {
  color: #88C349;
}

.fa-html5, .fa-js, .fa-css3, .fa-node-js {
  font-size: 4rem;
  margin: 1rem;
}

/* Footer Section */
footer {
  background-color: #cccccc;
  color: #003366;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

hr.footer {
  border-top: 8px solid #003366;
  width: 15%;
  margin-top: 1rem;
}

footer a {
  color: #4f6d7a;
}

footer a:hover {
  color: #4f6d7a;
}

form {
  margin: 0 auto;
}

/* Formats social icons */
.social {
  font-size: 2rem;
  padding-right: 10px;
}

/*---Media Queries --*/
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase;

  }

   .carousel-caption .btn {
     font-size: 95%;
     padding: 8px 14px;
   }

   .display-4 {
     font-size: 200%
   }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%;
    text-transform: uppercase;

  }

  .toggle{
    display: block;
  }

  ul {
    width: 100%;
    display: none !important;
  }

  ul li {
    display: block !important;
    text-align: center;
  }

  .active {
    display: block !important;
  }

   .carousel-caption .btn {
     font-size: 90%;
     padding: 4px 8px;
   }

   .display-4 {
    font-size: 160%
  }

}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}









